@use '@angular/material' as mat;

.toolbar {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        )
    );
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
        @include mat.sidenav-overrides(
            (
                container-shape: 0px,
            )
        );
    }
}

.toolbar-title {
    margin-left: 1rem;
}

.mainnav {
    width: 300px;
}

a[matListItemTitle] {
    text-decoration: none;
}
